#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body img {
  height: 300px;
  width: 250px;
  border-radius: 5%;
  margin: 5%;
}

#see-more-projects {
  display: none;
  visibility: hidden;
}

body {
  background-color: grey;
  background-image: url('https://media.giphy.com/media/GC7C2Fi902BDG/giphy.gif');
  font-family: 'Bellefair';
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img:hover {
  opacity: 1.2;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img {
  opacity: 0.9;
}


#content {
  color: hsla(0, 0%, 90%, 0.7);
  border: 10px solid transparent;
  padding: 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
}

navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

navbar li {
  float: left;
}

navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

navbar li a:hover {
  background-color: #111;
}

#star {
  width: 10px;
  height: 10px;
  background-image: url('my-images/star.jpg');
  transform: rotate(45deg);
  position: relative;
  animation: myfirst 10s linear 0s infinite forwards;
}

@keyframes myfirst {
  0%   {left:1080px; top:100px;}
  20%  {left:500px; top:200px;}
  40%  {left:400px; top:300px;}
  60%  {left:300px; top:400px;}
  80%  {left:200px; top:500px;}
  100% {left:100px; top:1080px;}
}

#comments-container hr {
  border-width: 0.1px;
}

#comments-container {
  line-height: 5px;
  margin: 2%;
}

#button {
  background-color: hsla(0,0%,0%,0);
  color: white;
  margin: 3%;
}

#button:hover, #button:focus {
  background-color: white;
  color: black;
}

#text-area {
  background-color: hsla(0,0%,0%,0);
  color: white;
  height: 20px;
  margin: 3%;
  width: 500px;
}

.date {
  font-size: small;
  text-align: end;
}

.comment {
  border-color: grey;
  border-style: inset;
  margin: 5%;
  padding: 2%;
}

#commentSettings {
  background: hsla(0,0%,0%,0.5);
  font-size: small;
}

#commentSettings:hover, #commentSettings:focus {
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  font-size: small;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#commentId {
  display: none;
  visibility: hidden;  
}

.delete {
  background-color: hsla(0,0%,0%,0);
  color: white;
  font-size: x-small;
  margin-left: 3%;
}

.delete:hover, .delete:focus, #delete-all-button:hover, #delete-all-button:focus {
  background-color: white;
  color: black;
}

#delete-all-button {
  background-color: hsla(0,0%,0%,0);
  color: white;
  font-size: small;
  margin: 3%;
}

#comment-heading {
  font-size: larger;
  font-weight: bold;
  font-style: italic;
}
