#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body img {
  height: 275px;
  width: 225px;
  border-radius: 5%;
  margin: 5%;
}

#see-more-projects {
  display: none;
}

body {
  background-color: grey;
  background-image: url('https://media.giphy.com/media/GC7C2Fi902BDG/giphy.gif');
  font-family: 'Bellefair';
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img:hover {
  opacity: 1.2;
  height: 300px;
  width: 250px;
  border: outset;
}

img {
  opacity: 0.9;
}


#content {
  color: hsla(0, 0%, 90%, 0.7);
  border: 10px solid transparent;
  padding: 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
}

navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

navbar li {
  float: left;
}

navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

navbar li a:hover {
  background-color: #111;
}

#star {
  width: 10px;
  height: 10px;
  background-image: url('my-images/star.jpg');
  transform: rotate(45deg);
  position: relative;
  animation: myfirst 10s linear 0s infinite forwards;
}

@keyframes myfirst {
  0%   {left:1080px; top:100px;}
  20%  {left:500px; top:200px;}
  40%  {left:400px; top:300px;}
  60%  {left:300px; top:400px;}
  80%  {left:200px; top:500px;}
  100% {left:100px; top:1080px;}
}

#comments-container hr {
  border-width: 0.1px;
}

#comments-container {
  height: 250px;
  line-height: 5px;
  margin: 2%;
  overflow: auto;
}

.button {
  background-color: hsla(0,0%,0%,0);
  color: white;
  margin: 3%;
}

.button:hover, .button:focus {
  background-color: white;
  color: black;
}

#text-area {
  background-color: hsla(0,0%,0%,0);
  color: white;
  height: 20px;
  margin: 3%;
  width: 500px;
}

.date {
  font-size: small;
  text-align: end;
}

.comment {
  border-color: grey;
  border-style: inset;
  margin: 5%;
  padding: 2%;
}

.image-element {
  margin: 5%;
  padding: 2%;
}

.image {
  height: 300px;
  width: 450px;
}

.image:hover {
  height: 325px;
  width: 475px;
}

#commentSettings {
  background: hsla(0,0%,0%,0.5);
  font-size: small;
}

#commentSettings:hover, #commentSettings:focus {
  background-color: white;
}

#dropdown-content {
  display: none;
}

#commentId {
  display: none;
}

.delete {
  background-color: hsla(0,0%,0%,0);
  color: white;
  font-size: x-small;
  margin-left: 3%;
}

.delete:hover, .delete:focus, #delete-all-button:hover, #delete-all-button:focus {
  background-color: white;
  color: black;
}

#delete-all-button {
  background-color: hsla(0,0%,0%,0);
  color: white;
  font-size: small;
  margin: 3%;
}

#comment-heading {
  font-size: larger;
  font-weight: bold;
  font-style: italic;
}

.caption {
  font-style: italic; 
}

#image-heading {
  font-size: larger;
  font-weight: bold;
  font-style: italic;
}

/* Upload images form is hidden by default. */
.hidden {
  display: none;
}

button {
  background-color: hsla(0,0%,0%,0);
  color: white;
  margin: 3%;
}

button:hover, button:focus {
  background-color: white;
  color: black;
}

#caption {
  background-color: hsla(0,0%,0%,0.5);
  color: white;
}

.contact-me-icon {
  height:100px;
  width:100px;
}

.contact-me-icon:hover {
  height:110px;
  width:110px;
}
